@{
	ViewData["Title"] = "О нас";
}

<link rel="stylesheet" href="~/css/indevelop.css">
<link rel="stylesheet" href="~/css/Adaptiv.css">
<link rel="stylesheet" href=""/>
<section class="parallax">
	<div class="parallax__body">
		<div class="parallax__container _container">
			<h1 class="parallax__title">Информация о нас...</h1>
			<h3 class="parallax__sub-title">Познакомимся поближе</h3>
		</div>
		<div class="parallax__images images-parallax">
			<div class="images-parallax__item">
				<div class="images-parallax__clouds"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__mountains"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__human"></div>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Представимся</h2>
		<div class="content__text">
			@*<div class="white-line"></div>*@
			<div class="content__text postulates">
				<div class="text-block">
					<ul>
						<li>1. Мы готовим качественных специалистов и вдохновляет людей творить мир с помощью
							компьютерного кода. </li>
						<li>2. Каждый ученик школы обретает свою миссию и цель, чтобы двигаться к вершинам мастерства.
						</li>
						<li>3. Все обучающие школы - это команда, мы проводим различные ивенты и события, связанные с
							праздниками или значимыми днями.</li>
						<li>4. Мы также устраиваем турниры, хакатоны, на которых участники будут решать разные задачи по
							программированию. Победители будут получать бенефиты в учебе или другое вознаграждение.</li>
						<li>5. Самые выдающиеся ученики смогут работать с реальными заказчиках и зарабатывать на своих
							знаниях.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="~/js/parallax.js"></script>