@{
	ViewData["Title"] = "О нас";
}

<link rel="stylesheet" href="~/css/indevelop.css">
<link rel="stylesheet" href="~/css/Adaptiv.css">
<link rel="stylesheet" href=""/>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">О НАС</h2>
		<div class="content__text">
			@*<div class="white-line"></div>*@
			<div class="content__text postulates">
				<div class="text-block">
					<ul>
						<li>1. Мы готовим качественных специалистов и вдохновляем людей творить мир с помощью
							компьютерного кода. </li>
						<li>2. Каждый ученик школы обретает свою цель, чтобы двигаться к вершинам мастерства.
						</li>
						<li>3. Все ученики школы - это команда. Мы проводим различные события, связанные с
							праздниками или значимыми для индустрии днями.</li>
						<li>4. Мы устраиваем турниры, хакатоны, на которых участники будут решать задачи по
							программированию. Победители будут получать бенефиты в учебе или другое вознаграждение.</li>
						<li>5. Самые выдающиеся ученики смогут работать с реальными заказчиками и зарабатывать на своих
							знаниях.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="~/js/parallax.js"></script>