@{
    ViewData["Title"] = "Наши контакты";
}

<link rel="stylesheet" href="~/css/index.css">

<section class="parallax">
	<div class="parallax__body">
	    <div class="parallax__container _container">
			<h1 class="parallax__title">Контакты</h1>
		</div>
		<div class="parallax__images images-parallax">
			<div class="images-parallax__item">
				<div class="images-parallax__clouds"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__mountains"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__human"></div>
				</div>
			</div>
	</div>
</section>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Связь с нами</h2>
		<div class="content__text">
			<div class="text-block">
				<h2>Связаться с нами вы можете с помощью: </h2>
                <ul class="contacts__list">
                    <li>VK</li>
                    <li>Telegram</li>
                    <li>Skype</li>
                    <li>Mail</li>
                </ul>
			</div>
		</div>
	</div>	
</section>
<script src="~/js/parallax.js"></script>