@{
    ViewData["Title"] = "Наши контакты";
}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/Adaptiv.css" />
@*<link rel="stylesheet" href="~/css/About.css">*@

<section class="parallax">
	<div class="parallax__body">
	    <div class="parallax__container _container">
			<h1 class="parallax__title">Контакты</h1>
		</div>
		<div class="parallax__images images-parallax">
			<div class="images-parallax__item">
				<div class="images-parallax__clouds"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__mountains"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__human"></div>
				</div>
			</div>
	</div>
</section>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Связь с нами</h2>
		<div class="content__text">
			<div class="text-block">
				<h2>Связаться с нами вы можете с помощью: </h2>
				<p>Мобильный телефон</p>
				<ul style="line-height:2">
					<li><a href="tel:+79859068824">+79859068824</a></li>
                    <li><a href="tel:+79651733949">+79651733949</a></li>
				</ul>
			</div>
		</div>
	</div>	
<!-- Создаём контейнер для карты -->
<div id="map"></div>
</section>
<script src="~/js/parallax.js"></script>
<script src="~/js/map.js"></script>