@{
	ViewData["Title"] = "Образовательные программы";
}

<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/Adaptiv.css">


<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Чему вы можете научиться у нас в школе?</h2>
		<div class="content__text">
			<div class="text-block">
				<h2>Мы предоставляем свои образовательые услуги по следующим направлениям:</h2>
				<ul class="programs-list">
					<li>
						<h2>3D Моделирование</h2>
						<p>Используются 2 программы, которые являются стандартом индустрии. Blender и 3Ds Max</p>
					</li>
					<li>
						<h2>Game development</h2>
						<p>Обучение разработке игр мечты происходит с использованием игровых движков, таких как Unity,
							Unreal Engine, Godot Engine.</p>
					</li>
					<li>
						<h2>WEB-разработка</h2>
						<p>Здесь мы охватим полный цикл разработки сайта, от идеи и разметки до написания бизнес-логики.
						</p>
					</li>
					<li>
						<h2>Программирование на C++</h2>
						<p>Разработка приложений на одном из самых мощных языков программирования, с помощью которого
							можно написать что угодно.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<script src="~/js/parallax.js"></script>
<script src="~/js/map.js"></script>