@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/Adaptiv.css">


<section class="parallax">
	<div class="parallax__body">
	    <div class="parallax__container _container">
			<h1 class="parallax__title">Добро пожаловать на сайт Coder Decore</h1>
		</div>
		<div class="parallax__images images-parallax">
			<div class="images-parallax__item">
				<div class="images-parallax__clouds"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__mountains"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__human"></div>
				</div>
			</div>
	</div>
</section>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Добро пожаловать</h2>
		<div class="content__text">
			<div class="text-block">
				<div class="text-block">
				<p>Мы современная школа программирования Coder Decore.<br> Наша основная миссия научить учеников творить
					и
					создавать компьютерный мир с помощью программного кода. Из этого следует наш девиз "Кодируй
					Декорируя!". Как человек и все что его окружает создает мир вокруг себя с помощью слов, так и
					программист создает виртуальный мир с помощью компьютерных слов. И наша школа обучает этому
					творчеству! </p>
			</div>
			</div>
			<a asp-action="About" asp-controller="Home">Узнать больше о школе</a><br/>
			<a asp-action="Contact" asp-controller="Home">Контактная информация</a><br/>
			<a asp-action="Education" asp-controller="Home">Ознакомиться с образовательными программами</a>
			<a></a>
		</div>
	</div>	
</section>
<script src="~/js/parallax.js"></script>