@{
    ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1 charset=utf-8">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/Adaptiv.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap" rel="stylesheet">


<section class="intro">
	<div class="intro__container">
		<div class="intro__text">
			<div class="intro__maintext">
				<h1 class="intro__title">Школа программирования Coder Decore</h1>
				<h3 class="intro__subtitle">Наша миссия научить вас творить и создавать компьютерный мир с
					помощью программного кода.</h3>
				<h2 class="intro__navigation-title">Быстрая навигация</h2>
				<ul class="intro__navigation" type="disc">
					<li><a asp-controller="Home" asp-action="About">О нашей школе</a></li>
					<li><a href="/">Чему мы можем научить вашего ребенка</a></li>
					<li><a href="/">Как с нами связаться</a></li>
				</ul>
			</div>
			<div class="intro__image locked">
				<picture>
					<source srcset="~/images/mainccode-mobile.png" media="max-width: 400px">
					<img src="~/images/mainccode.png" >
				</picture>
			</div>
		</div>
	</div>
</section>
<div class="border"></div>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Добро пожаловать</h2>
		<div class="content__text">
				<div class="text-block">
				<p>Школа программирования Coder Decore. Из этого следует наш девиз "Кодируй Декорируя!". Как человек и все что его окружает создает мир вокруг себя с помощью слов, так и
					программист создает виртуальный мир с помощью компьютерных слов. И наша школа обучает этому
					творчеству! </p>
			</div>
		</div>
	</div>
</section>
		<div class="border"></div>