@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css">

<section class="parallax">
	<div class="parallax__body">
	    <div class="parallax__container _container">
			<h1 class="parallax__title">Добро пожаловать на сайт Coder Decore</h1>
		</div>
		<div class="parallax__images images-parallax">
			<div class="images-parallax__item">
				<div class="images-parallax__clouds"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__mountains"></div>
			</div>
			<div class="images-parallax__item">
				<div class="images-parallax__human"></div>
				</div>
			</div>
	</div>
</section>
<section class="content">
	<div class="content__container _container">
		<h2 class="content__title">Добро пожаловать</h2>
		<div class="content__text">
			<p>Это главная страница нашего сайта, здесь будет размещена вся нужная информация о нас</p>
			<div class="text-block">
				<h2>мы предоставляем качественные услуги по обучению IT и не только</h2>
				<img src="" alt="">
			</div>
		</div>
	</div>	
</section>
<script src="~/js/parallax.js"></script>