/* обнуление стилей */

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul,
ol,
li{
	list-style: none;
	padding: 0;
}

img,
picture{
	vertical-align: top;
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body{
	height: 100%;
	line-height: 1;
	font-size: 16px;
	background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	min-height: 100%;
}

.intro {
	/* background-color: #9D7FC0; */
	height: 100vh;
	position: relative;
	margin: 0 auto;
	margin-bottom: 200px;
	min-width: 100%;
}

.intro__title {
	font-family: 'Arimo', sans-serif;
}
.intro__container {
	/* max-width: 150vh; */
	text-align: center;
	/* background-color: cornflowerblue; */
	display: block;
	margin: 0 auto;
	padding: 50px;
	height: 100%;
}

.intro__text {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 45px;
	font-family: 'Roboto Mono', monospace;
	text-align: left;

}

.intro__maintext {
	max-width: 33%;
}

.intro__subtitle {
	font-size: 30px;
	font-weight: 300;
	/* font-family: 'Jura', sans-serif; */
	font-family: 'Noto Sans Display', sans-serif;
	/* padding: 10px; */
}

.intro__image picture {}

.locked {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

.intro__navigation-title {
	padding: 70px 0;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-align: center;
}

.intro__navigation {
	padding: 0px 0 30px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: italic;
}
.intro__navigation:hover a:current {
	background-color: black;
}

.intro__navigation li{
	margin: 10px;
}

._container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 20px;
}


.content {
	/* background-color: #6923DC; */
	position: relative;
	/* z-index: 2; */
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
}




.content__container{
}

.content__title {
	font-size: 55px;
	font-weight: 700;
	margin: 0px 0 30px 0;
}

.content__text {
	font-size: 16px;
	line-height: 150%;
}

.content__text p{
	margin:  0 0 30px 0;
	font-size: 24px;
}

.content__text p:first-child{
	font-style: italic;
}

.border{
	width: 100%;
	height: 20px;
	background-color: whitesmoke;
	position: absolute;
	margin: 30px 0;
}

.text-block {
	font-size: 35px;
	text-align: left;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.study__programs {
	/* background-color: whitesmoke; */
}

.study__programs h2 {
	font-size: 45px;
	font-weight: 500;
	color: black;
}

.gamedev__intro {
	padding: 50px 0;
}

.gamedev__intro h2,
a {
	/* color: #0b1d26; */
}

.gamedev__about {
	color: black;
}

.webdev__about,
.modeling__about,
.gamedev__about {
	display: flex;
	justify-content: space-around;
	padding: 40px;
	max-width: 75%;
	margin: 0 auto;
	background-color: rgba(58, 71, 213, .1);
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px rgba(238, 238, 238, .5);
}
.webdev__about {
	color: black;
}
.modeling__about-info,
.webdev__about-info,
.gamedev__about-info {
	font-size: 30px;
	margin: 0 auto;
	max-width: 70%;
}

.modeling__about-info {
}

.webdev__about-info {
	text-align: left;
}

.modeling__about-info ul,
li,
.webdev__about-info ul,
li {
	text-align: center;
}

.gamedev__intro-title {
	text-align: center;
	margin: 0 auto;
}

.webdev__intro {
	padding: 0 30px;
}

.modeling__intro,
.modeling__intro h2 {
	/* background: rgb(129, 16, 119); */
	color: white;
}

.cpplearn__intro{
	position: relative;
}

.webdev__intro {
	color: rgb(1, 2, 3);
}
#map {
	width: 100%;
	/* margin: -30px; */
	height: 65%;
	text-align: center;
}

@media (max-aspect-ratio: 3/2) {
}

@media(max-width: 767px) {
}