.wrapper{
	min-height: 100%;
}

.slogan{
  display: block;
  position: relative;
  top: 0;
  text-align: center;
  background: url('img/bg_slogan_repeat.png') repeat;
  font-weight: 700;
  font-size: 36px;
  padding: 20px 0;
  min-width: 100%;
  z-index: 100;
}

.content {
    position: relative;
    min-width: 100vw;
}
a {
    color: white;
}

.header__scroll{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(26, 23, 23, .99);
    box-shadow: 0px 0px 1px 1px rgba(26, 23, 23, .9);
    display: none;
}

.header__scroll.visible{
    display: block;
}

.scroll__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__menu a{
    /* padding: 0 20px; */
}

.nav__menu{
    background-color: whitesmoke;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: nowrap; */
        justify-content: space-around;
    position: relative;
    min-width: 100%;
    box-shadow: 0px 0px 1px 1px rgb(26, 23, 23);
    z-index: 20;
}

.menu__arrow {
    display: none;
}

body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform .3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}

.logo a{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo h1{
    font-weight: 400;
    font-size: 25px;
    margin: 0 10px 0 0;
    padding: 0 1px;
    margin-left: -100px;
}

.logo__image{
    height: 40px;
    width: 40px;
    background-image: url("../small_logo.png");
}


.nav__menu-links{
    display: flex;
    align-items: center;
        justify-content: space-between;
}


.nav__menu-item,
.nav__menu-item a{ 
    color: black;
}

.nav__menu-item {
    margin: 0 20px;
}

.nav__menu-item a{
    margin: 0;
}

.nav__menu-item a:hover{  
    color: grey;
}

.logo__image:hover{
    background: url("../small_logo__invert.png");
}

.nav__menu-item a,
.scroll__menu-item a{
    font-size: 22px;
    font-weight: 300;
}


.scroll__menu{
    margin: 0 auto;
    padding: 25px 0;
}

.scroll__menu-item a{
    padding: 0 20px;
    color: rgb(210, 210, 210);    
}

.scroll__menu-item a:hover{
    color: white;
}

/* .container{
    display: block;
    background-color: black;
    font-size: 24px;
    opacity: .9;
    min-height: 100%;
    padding: 10px;
} */



footer{
    border-top: 1px solid white;
    z-index: 2;
    font-size: 15px;
    position: relative;
    text-align: left;
    bottom: 0;
    width: 100%;
}

.info{
    background-color: black;
    min-width: 100%;
    padding: 10px 60px;
}

.info__contacts li{
    padding: 10px 0;
}

.info__contacts li:first-child{
    padding-top: 20px;
}

.info__contacts li:last-child{
    text-align: right;
}